 ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        li {
            margin-bottom: 10px;
        }
         
        a.button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #3498db;
            color: white;
            text-decoration: none;
            border-radius: 5px;
           
        }

        a.button:hover {
            background-color: #2980b9;
        }

        .circule {

            width: 150px;
            height: 150px;
            border-radius: 50%;
            border: 5px solid black;
}
img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
  display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}


body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1441' height='560' preserveAspectRatio='none' viewBox='0 0 1441 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1016%26quot%3b)' fill='none'%3e%3crect width='1441' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1258.71 487.49a40.99 40.99 0 1 0 76.26 30.1z' fill='rgba(255%2c 184%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1044.86 275.66L1080.93 275.66L1080.93 285.88L1044.86 285.88z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M208.59 127.77L210.51 127.77L210.51 169.62L208.59 169.62z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M772.97 449.21L785.9 449.21L785.9 464.43L772.97 464.43z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M984.11 493.27a13.14 13.14 0 1 0-12.71 23.01z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M774.13 200.55 a53.52 53.52 0 1 0 107.04 0 a53.52 53.52 0 1 0 -107.04 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1308.51 129.97L1359.36 129.97L1359.36 180.82L1308.51 180.82z' fill='rgba(255%2c 184%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M214.46 417.35 a8.89 8.89 0 1 0 17.78 0 a8.89 8.89 0 1 0 -17.78 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M961.64 361.37a52 52 0 1 0-103.86 5.37z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M480.47 138.59L532.07 138.59L532.07 163.33L480.47 163.33z' fill='rgba(255%2c 184%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M816.25 175.8L852.14 175.8L852.14 211.69L816.25 211.69z' stroke='rgba(255%2c 220%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1314.77 96.93L1341.2 96.93L1341.2 123.36L1314.77 123.36z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M917.66 381.65L949.01 381.65L949.01 413L917.66 413z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M301.86 306.28a34.21 34.21 0 1 0-38.43-56.61z' fill='rgba(255%2c 220%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M842.88 24.98a2.81 2.81 0 1 0 5.24-2.03z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1357.17 283.51L1404.47 283.51L1404.47 330.81L1357.17 330.81z' stroke='rgba(255%2c 220%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M503.82 362.93 a33.8 33.8 0 1 0 67.6 0 a33.8 33.8 0 1 0 -67.6 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M448.58 13.56L481.12 13.56L481.12 25.05L448.58 25.05z' stroke='rgba(255%2c 184%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M415.8 131.04a13.66 13.66 0 1 0 27-4.22z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M427.3 145.59a28.72 28.72 0 1 0 56.42 10.82z' fill='rgba(255%2c 184%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1224.37 226.89 a17.42 17.42 0 1 0 34.84 0 a17.42 17.42 0 1 0 -34.84 0z' stroke='rgba(255%2c 220%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M99 210.1L135.41 210.1L135.41 213.29L99 213.29z' stroke='rgba(255%2c 220%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M342.16 250.44a7.44 7.44 0 1 0-14.03 4.95z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1161.77 119.56L1185.69 119.56L1185.69 164.93L1161.77 164.93z' fill='rgba(255%2c 184%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1181.95 455.19L1234.66 455.19L1234.66 507.9L1181.95 507.9z' fill='rgba(255%2c 220%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M694.4 265.83L745.07 265.83L745.07 294.76L694.4 294.76z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M626.61 196.24 a14.67 14.67 0 1 0 29.34 0 a14.67 14.67 0 1 0 -29.34 0z' stroke='rgba(255%2c 220%2c 0%2c 1)'%3e%3c/path%3e%3cpath d='M1440.35 365.23L1484.19 365.23L1484.19 409.07L1440.35 409.07z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M928.43 123.62L965.23 123.62L965.23 160.42L928.43 160.42z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M643.02 314.78L692.59 314.78L692.59 321.26L643.02 321.26z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M606.83 545.46L625.08 545.46L625.08 588.66L606.83 588.66z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1256.64 264.61 a41.26 41.26 0 1 0 82.52 0 a41.26 41.26 0 1 0 -82.52 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M688.72 115.6L691.78 115.6L691.78 164.97L688.72 164.97z' stroke='%23e73635'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1016'%3e%3crect width='1441' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

h1 {
  text-align: center;
  color: white;
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.img {
    max-width: 100%;
    max-height: 100%;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
ul li {
    position: relative;
    list-style: none;
}
